<body class="jumbotron">
  <h1 class="well text-center">Welcome to the Task Manager</h1>
  <p><a class="btn btn-info btn-lg col-md-2 col-md-offset-3" href="/tasks">Task Index</a></p>
  <p><a class = "btn btn-primary btn-lg col-md-2 col-md-offset-2" href="/tasks/new">New Task</a></p>
</body>
