<form class ="jumbotron" action="/skills" method="post">
  <h1 class="well text-center">Enter a new skill:</h1>
  <p>Skill Name</p>
  <input class="form-group" type='text' name='skill[title]'/><br/>
  <p>Skill Description</P>
  <textarea class="form-control" name='skill[description]'></textarea><br/>
  <input class="btn btn-primary" type='submit'/>
</form>
